<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/admin">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">

           <li class="nav-item px-2">
            <a class="nav-link" href="/admin/bookInventory/all/all/1">Book Inventory</a>
          </li>

           <li class="nav-item px-2">
            <a class="nav-link" href="/admin/users/1">Users</a>
          </li>

           <li class="nav-item px-2">
            <a class="nav-link" href="/admin/books/add">Add Books</a>
          </li>

          <li class="nav-item px-2">
            <a class="nav-link" href="/books/all/all/1">Browse Books</a>
          </li>
          <li>
          <a href="/admin/users/chart/<%="dark2"%>/<%="Number of users tha join per day"%>" class="nav-link">
            <i class="fa fa-chart-area"></i>chart
          </a>
          </li>
          <li class="nav-item px-2">
              <a title="pay user fines" href="" class="nav-link" data-toggle="modal" data-target="#paymentModal">
                <i class="fa fa-money-bill-wave"></i>fine
              </a>
          </li>
          <li>
            <a title="see total fines" href="/admin/fine/users" class="nav-link">
              <i class="fa fa-money-bill"></i>total fines
            </a>
            </li>
          


          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> Welcome <%=currentUser.username%>
              </a>
              <div class="dropdown-menu">
                <a href="/admin/profile" class="dropdown-item">
                  <i class="fa fa-user-circle"></i> Profile
                </a>

                <a href="/auth/admin-logout" class="dropdown-item">
                  <i class="fa fa-user-times"></i> Logout
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a href="/admin/requests" class="nav-link">
                  <i class="fa fa-bell"></i><span class="badge badge-danger badge-pill"><%=count_requests%></span>
              </a>
            </li>
          </ul>
      </div>
    </div>
</nav>
<!-- payment Modal -->
<div class="modal fade" id="paymentModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="paymentModalLabel">Pay fines</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/admin/user/payment?_method=PUT" method="post">
          <div class="form-group">
            <label for="username" class="form-conrol-label">username</label>
            <input type="text" name="username" class="form-control">
          </div>

          <div class="form-group">
            <label for="amount" class="form-conrol-label">Amount</label>
            <input id="amount" type="number" name="amount" class="form-control">
          </div>
          <button id="button" class="btn btn-primary btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
