<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="shortcut icon" href="#">


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="/static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/fontawesome.min.css"/>
        <link rel="stylesheet" href="/stylesheet/app.css">
        <link rel="stylesheet" href="/static/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/font-awesome.min.css"></link>

        <title>Library Manangement System</title>

    </head>

    <body>
