<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="shortcut icon" href="#">


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="/static/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/style/app.css"/>
        <link rel="stylesheet" href="/static/bootstrap.min.css"/>
        <link rel="stylesheet" href="/fontawesome/css/all.css"/>
        <link rel="stylesheet" href="/fontawesome/css/fontawesome.css"/>
        <script src="/fontawesome/js/all.js"></script>


        <title>Library Manangement System</title>

    </head>
    <script type="text/JavaScript">
        function timeRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);", timeoutPeriod);
        }
    </script>
    <% if (currentUser) {%>
      <body onLoad="JavaScript:timeRefresh(600000);" class="">
    <%}else{%>
      <body>
    <%}%>
